<div class="service-box">

    <h3 class="service-box__title">{{title}}</h3>

    <div class="service-box__content">{{content}}</div>

    <div class="service-container">
        {{#foreach tags }}
            {{#if feature_image}}
            <img class="service-container__small-picture" src="{{feature_image}}" alt="Verdensmål nummer {{name}}">
            {{/if}}
        {{/foreach}}
    </div>

</div>