<div class="image-box">
    <img class="image-box--image" src="{{feature_image}}">
    <a href="{{url}}">
            <div class="image-box--overlay">
                <h2 class="image-box--title">{{title}}</h2>
                <div class="image-box--content">
                    <p>{{excerpt words="33"}}</p>
                </div>
            </div>
        </a>
</div>