 <section class="section__news">
        <h1 class="section__news__header">Nyheder</h1>
        
                    <a href="#" class="section__news--all button button--orange">Se flere Nyheder</a>
                        
                <article class="section__news--all section__news--1">
                    <div class="section__news--top">
                        <h3>Hvordan skaber vi Lærende byer?</h3>
                        <p>Lorem ipsum dolor sit amle consdksd abodwdskwd.</p>
                    </div>
                    <div class="section__news--image">
                        <img src="https://picsum.photos/500/300" alt="">

                    </div>
                </article>
                
                <article class="section__news--all section__news--2">
                        <div class="section__news--top">
                            <h3>Brug for flere bundlinjer</h3>
                            <p>Lorem ipsum dolor sit amle consdksd</p>
                        </div>
                        <div class="section__news--image">
                                <img src="https://picsum.photos/500/300" alt="">
        
                        </div>
                </article>
                
                <article class="section__news--all section__news--3">
                        <div class="section__news--top">
                            <h3>Hvilke udfordringer skal ledere i dag og fremtiden kunne håndtere?</h3>
                            <p>Lorem ipsum dolor sit amle consdksd abodwdskwka.</p>
                        </div>
                        <div class="section__news--image">
                                <img src="https://picsum.photos/500/300" alt="">
        
                        </div>
                </article>
                    

        </section>