<section class="section__news">
    <h1 class="section__news__header">Nyheder</h1>

    <a href="#" class="button button--orange">Se flere Nyheder</a>
    {{#get "posts" filter="tags:nyhed" include="tags"}}
    {{#foreach posts limit=3}}
    <article class="section__news--{{@number}}">
        {{> "image-box"}}
    </article>
    {{/foreach}}
    {{/get}}

</section>