{{!-- {{#has pages="count:>1"}} --}}
{{#if pages}}
    <nav class="pagination" role="navigation">
        {{#if prev}}
            <a class="pagination__newer-posts icon__arrow--left" href="{{page_url prev}}">{{> "icons/arrow"}}</a>
        {{/if}}
    
        <span class="pagination__page-number">{{page}} af {{pages}}</span>
    
        {{#if next}}
            <a class="pagination__older-posts" href="{{page_url next}}">{{> "icons/arrow"}}</a>
        {{/if}}
</nav>
{{/if}}
{{!-- {{/has}} --}}