<nav class="pagination" role="navigation">
      {{#if prev}}
        <a class="newer-posts icon__arrow--left" href="{{page_url prev}}">{{> "icons/arrow"}}</a>
    {{/if}}
    <span class="page-number">{{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">{{> "icons/arrow"}}</a>
    {{/if}}
</nav>