
{{#get "posts" limit="5" filter="tags:[{{post.tags}}]+tags:nyhed+id:-{{post.id}}" include="tags" as |related|}}
                
{{#foreach related}}
{{#has tag="1"}}
                <div class="related-posts__post">
                    {{> "image-box"}}
                </div>
                {{/has}}
                {{/foreach}}
                {{else}}
                <p>No related posts</p>
                
                 {{/get}}