<section class="services-section">


    <div class="services-section__left">
        {{#get "posts" filter="tags:ydelser" limit="all" order="title asc"}}
            {{#foreach posts columns="6"}}
                {{#if @rowStart}}<div class="services-section__grid">{{/if}}
                    <article class="services-section__box">
                        {{> "image-box-ydelser"}}
                    </article>
                {{#if @rowEnd}}</div>{{/if}}
            {{/foreach}}
        {{/get}}
    </div>

    </div>


    <div class="services-section__right">
        <h2 class="services-section__title">Ydelser</h2>
        <p class="services-section__paragraph">
            Vores ydelser bygger på fakta og mange års erfaringer. Vores ydelser tager altid udgangspunkt i at skabe en optimal dagligdag for jer samtidig med, at vi sammen sikrer verdensmålene. 
        </p>
        <a href="/ydelser/" class="temaer__button button button--green">Se alle vores ydelser</a>
    </div>
</section>