<section class="temaer">
    <div class="temaer__left">
        <h1 class="temaer__title">Temaer</h1>
        <p class="temaer__paragraph">
            I alle vores projekter arbejder vi på at implementere FNs verdensmål. Når vi fører
            projekterne til dørs sikre vi at de vil kunne opnå disse...
        </p>
        <a href="#" class="temaer__button button button--blue">Se alle vores temaer</a>
    </div>

    <div class="temaer__right">
        {{#get "posts" filter="tags:tema" include="tags"}}
        {{#foreach posts limit=6}}
            {{#has tag="tema"}}
                <article class="temaer__box">
                    {{> "image-box"}}
                </article>
            {{/has}}
        {{/foreach}}
        {{/get}}
    </div>
</section>