body {
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    line-height: 1.45;
    font-size: 1.6rem;
    color: #333;
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.15;
  }

.heading-primary, h1 {
    margin-top: 0;
    font-size: 4.209rem;

    &--main {
        font-size: 6rem;
    }

    &--green {
        color: $color-logo-green;
    }

    &--sub {
        font-size: $font-size-medium;
    }
}

.heading-secondary, h2 {
    font-weight: 300;
    font-size: 3.157rem;
    
}

.heading-tertiary, h3{
    font-size: 2.3rem;
    font-weight: 300;
    // text-transform: uppercase;
}

h4{
    font-size: 1.777rem;
}

h5{
    font-size: 1.333rem;
}

.paragraph, p {
    font-size: $font-size-default;
    margin-bottom: 1.25em;
}

small, .text_small {font-size: 0.75em;}

blockquote{
    margin-bottom: 10px;
    padding: 10px 20px;
    border-left: 5px solid #e2e2e2;
    color: #666;
    // font-size: 20px;
    // line-height: 22px;
    font-style: italic;
}

.post-content{
    ul {
        margin: 2rem;

        li{
            margin: 1rem;
        }
    }
}