{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="head-wrapper">
        <div class="company-name">
            <h1 class="heading-primary"><span class="heading-primary--green">cph</span>facilitation</h1>
            <h2 class="heading-tertiary">{{@site.description}}</h2>
        </div>
        <div class="un-goal">
            <img class="un-goal__image" src="../assets/img/17.gif" alt="">
            <p>I alle vores projekter arbejder vi på at implementere FNs verdensmål. Når vi fører proejtkerne til dørs sikre vi at de vil kunne opnå disse...</p>
        </div>
        <div class="head-image-wrapper">
            <img src="../assets/img/half-circle.svg" alt="">
        </div>
    </div>
    {{> "news"}}

    {{> "themes"}}

<script>
        var navbar = document.querySelector(".navigation");
        var header = document.querySelector(".site-header");
        var wrapper = document.querySelector(".site-wrapper");

        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
                navbar.classList.add("navigation--min");
                header.classList.add("header--sticky");
                wrapper.classList.add("site-wrapper--extended");
            }
            else {
                navbar.classList.remove("navigation--min");
                header.classList.remove("header--sticky");
                wrapper.classList.remove("site-wrapper--extended");
            }
        }
    </script>
</main>
