{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

<<<<<<< HEAD
        
=======
>>>>>>> e175d5d3c4f2290c9ddbe1cd679e7e5368f6bd53

    </div>
</main>

{{> "news"}}

{{> "themes"}}