{{!< default }}

<div class="contact">
    <div class="contact__box">

        <div class="contact__box--white">
            <h2 class="contact__header--primary">Kontakt</h2>

            <form action="https://formspree.io/will1400@edu.campusvejle.dk" method="POST" class="contact__form">
                <div class="contact__input-box">
                    <input type="text" class="contact__input" placeholder="Indtast Navn" name="Navn" required>
                    <input type="email" class="contact__input" placeholder="Indtast Email" name="Email" required>
                </div>
                <textarea name="Besked" class="contact__textarea" placeholder="Skriv en besked" cols="30" rows="10"></textarea required>
                <button class="contact__submit button button--green" type="submit">Send</button>
            </form>
        </div>
        <div class="contact__box--green">
            <h2 class="contact__header--primary">Information</h2>
            <h3 class="contact__header--secondary">Du kan også kontakte os direkte</h3>
            <p class="contact__text">Mail: hjarn.borberg@cphfacilitation.dk</p>
            <p class="contact__text">Tlf: +45 00 00 00 00</p>
            
            <h3 class="contact__header--secondary">Besøg os på</h3>
            <ul class="contact__list">
                <li class="contact__item"><a href="https://dk.linkedin.com/company/cphfacilitation" class="contact__link social__linkedin social__linkedin--white">In</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    var navbar = document.querySelector(".navigation").classList.add("navigation--min");
</script>