{{!< default}}

<main class="site-main">
    <header class="nyheder__header">
        <h1>Nyheder</h1>
    </header>
    
    <section class="nyheder">
        {{#get "posts"  filter="tags:nyhed" include="tags" as |nyhed|}}
        {{#foreach nyhed}}
        <article class="nyheder__item nyheder__item--{{@number}}">
            {{> "post-card"}}
        </article>
        {{/foreach}}
        {{/get}}
    </section>
</main>
