@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";
@import "base/animations";

@import "components/button";
@import "components/imagebox";
@import "components/servicebox";
@import "components/contact";
@import "components/related-posts";
@import "components/icon";
@import "components/_pagination";
@import "components/mailchimp";

@import "pages/home";
@import "pages/post";
@import "pages/news";
@import "pages/opgaver";
@import "pages/page";
@import "pages/services";
@import "pages/about";

@import "layout/navigation";
@import "layout/news";
@import "layout/header";
@import "layout/themes";
@import "layout/services-section";
@import "layout/footer";
