.button {
    padding: 0.5rem 3rem;
    font-size: $font-size-default;
    text-decoration: none;
    transition: all .2s;
    color: $color-white;
    // border-radius: $border-radius-default;
    cursor: pointer;
    display: inline-block;

    &:link, &:visited {
        font-size: $font-size-default;
        text-decoration: none;
        transition: all .2s;
        color: $color-white;
    }

    &:hover, &:active {
        @include button-shadow;
    }

    &--blue:link, &--blue:visited{
        background-color: rgba($color-white, 0);
        border: 1px solid $color-white;
    }

    &--blue:hover, &--blue:active{
        background-color: rgba($color-white, 1);
        color: $color-logo-blue;
    }

    &--orange:link, &--orange:visited{
        background-color: rgba($color-white, 0);
        border: 1px solid $color-white;
    }

    &--orange:hover, &--orange:active{
        background-color: rgba($color-white, 1);
        color: $color-logo-orange;
    }

    &--green {
        background-color: rgba($color-logo-green, 0);
        color: $color-logo-green;
        box-shadow: none;
        border: 1px solid $color-logo-green;
        padding: 1.5rem 7rem;
        
        &:hover, &:active {
            background-color: rgba($color-logo-green, 1);
            color: $color-white;
            @include button-shadow;
        }
    }
}