.button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .2s;
    color: $color-white;
    border-radius: $border-radius-default;
    cursor: pointer;

    &:link, &:visited {
        padding: 1rem 3rem;
        font-size: 1.5rem;
        text-decoration: none;
        transition: all .2s;
        color: $color-white;
    }

    &:hover, &:active {
        @include button-shadow;
    }

    &--blue:link, &--blue:visited{
        background-color: rgba($color-white, 0);
        border: 2px solid $color-white;
    }

    &--blue:hover, &--blue:active{
        background-color: rgba($color-white, 1);
        color: $color-logo-blue;
    }

    &--orange:link, &--orange:visited{
        background-color: rgba($color-white, 0);
        border: 2px solid $color-white;
    }

    &--orange:hover, &--orange:active{
        background-color: rgba($color-white, 1);
        color: $color-logo-orange;
    }

    &--green {
        background-color: $color-logo-green;
        color: $color-white;
        border: none;
    }
}