.contact {
    background: rgba($color-black, .7);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 6.5rem);
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &__background {
        width: 100%;
        // height: 100%;
        height: calc(100vh - 6.5rem);
        margin-top: 6.5rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;

        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    &__box {
        width: 70%;
        height: 60rem;
        box-sizing: border-box;
        display: flex;
        &--white {
            background-color: $color-white;
            width: 65%;
        }
        &--green {
            background-color: $color-logo-green;
            color: $color-white;
            width: 35%;
            padding: 0 2rem;
        }
    }
    &__list {
        list-style: none;
        display: flex;
    }
    &__link {
        text-decoration: none;
    }
    &__header {
        &--primary {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
        &--secondary {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
        margin-top: 6rem;
    }
    &__textarea {
        margin: auto;
        display: block;
        width: 100%;
        height: 15rem;
        min-height: 3.8rem;
        max-height: 25rem;
        resize: vertical;
        border: 1px solid $color-logo-grey;
        font-size: $font-size-default;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        line-height: 1.7;
        padding: 3px;
        box-sizing: border-box;
        &::placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            line-height: 1.7;
            font-size: 1.6rem;
        }
        &:invalid {
            box-shadow: none;
            outline: none;
            border: 2px solid $color-logo-orange;
        }
        &:valid {
            border: 2px solid $color-logo-green;
        }
    }
    &__input-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
    &__input {
        display: inline-block;
        outline: none;
        width: 45%;
        height: 30px;
        padding-left: 5px;
        border: none;
        border-bottom: 1px solid $color-logo-grey;
        transition: all .2s;
        font-size: $font-size-default;
        &:focus {
            border-bottom: 2px solid $color-logo-blue;
        }
        &:invalid {
            box-shadow: none;
            border: none;
            border-bottom: 2px solid $color-logo-orange;
        }
        &:valid {
            border-bottom: 2px solid $color-logo-green;
        }
        &::placeholder {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            line-height: 1.7;
            font-size: 1.6rem;
        }
    }
    &__submit {
        margin: 2rem 0;
        align-self: flex-end;
    }
    &__item {
        height: 2rem;
        width: 2rem;
        padding: 5px;
        border: 1px solid $color-white;
    }
}

@media only screen and (max-width: 1200px) {
    .contact {
        height: 100rem;
        display: block;
        position: relative;
        &__box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            flex-direction: column;
            &--white {
                background-color: $color-white;
                width: 100%;
                padding-bottom: 3rem;
            }
            &--green {
                background-color: $color-logo-green;
                color: $color-white;
                width: 100%;
                padding: 1rem 2rem;
                padding-bottom: 2rem;
                box-sizing: border-box;
            }
        }
        &__submit {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .contact {
        height: 110rem;
        &__box {
            width: 85%;
        }
        &__input-box {
            flex-direction: column;
        }
        &__header--primary {
            margin-bottom: 0;
        }
        &__input {
            width: 100%;
            margin-top: 2rem;
        }
    }
}

@media only screen and (max-width:400px) {
    .contact {
        &__box {
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            transform: none;

            &--green {
                height: 100%;
            }
        }
        &__form {
            width: 80%;
        }
    }
}