.icon {
    display: inline-block;
    fill: $color-black;
    &--white {
        path {
            fill: $color-white;
        }
        fill: $color-white;
    }
    &__arrow {
        height: 2rem;
        width: 2rem;
        &--left svg{
            transform: rotate(180deg);
        }
    }
}