.image-box {
    flex: 1 1 300px;
    // min-height: 300px;
    position: relative;
    display: inline-block;

    &__background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__overlay {

        background: rgba(51, 51, 51, .4);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        
        &:hover div {
            transform: translateY(2rem);
            opacity: 1;
        }

        &:hover h2 {
            transform: translateY(0);
        }

        &:hover .image-container {
            transform: translateY(0);
            opacity: 1;
        }
        
    }

    &__title {
        color: white;
        text-align: center;
        transform: translateY(8rem);
        transition: all .5s;
    }

    &__content {

        &__small-picture {
            display: inline-block;
            height: 50px;
            width: 50px;
        }
        
        color: white;
        opacity: 0;
        z-index: 21;
        padding: 2rem;
        transform: translateY(20rem);
        transition: all .5s;
    }
}

.image-container {
    position: absolute;
    
    opacity: 0;
    transition: all .5s;
    bottom: 0.5rem;
    right: 0.5rem;

    &__small-picture {
        display: inline-block;
        height: 50px;
        width: 50px;
    }
}