.image-box {
    flex: 1 1 300px;
    // min-height: 300px;
    position: relative;
    display: inline-block;

    &__background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__overlay {

        background: rgba(51, 51, 51, .4);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        &:hover .image-box__content {
            
            transform: translateY(2rem);
            opacity: 1;
            
            p {
                visibility: visible;
            }
        }

        &:hover h3 {
            transform: translateY(2rem);
           
        }

        &:hover .image-container {
            opacity: 1;
        }

        
        
    }

    &__title {
        color: white;
        text-align: center;
        transform: translateY(8rem);
        transition: all .5s;
        margin: 0 2rem;
    }

    &__content {

        
        color: white;
        opacity: 0;
        z-index: 21;
        padding: 2rem;
        transform: translateY(10rem);
        transition: all .5s;
        
        p {
            
            transition: all .5s;
        }
    }
}

.image-container {
    position: absolute;
    height: 70px;
    opacity: 0;
    transition: all .5s;
    bottom: 0.5rem;
    right: 0.5rem;
    
    &__small-picture {
        display: inline-block;
        height: 70px;
        width: 70px;
    }
}