.related-posts {
    max-width: 70ch;
    margin: 5rem auto 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &__box {
        display: flex;
    }
    &__post {
        max-width:35rem;
        max-height: 30rem;
        margin: 0 1rem;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        .image-box {
            width: 100%;
            height: 100%;

        }
    }
    &__header{
        margin-bottom: 3rem;
    }
}