.related-posts {
    text-align: center;
    margin-top: 7rem;
    
    &__box {
    width: 90%;
    margin: auto;
    display: flex;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__post {
        width:35rem;
        height: 35rem;
        margin: 2rem;
        .image-box {
            width: 100%;
            height: 100%;
        }
    }
}