.header--sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.head-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 12rem);
    margin-bottom: -24rem;
}

.company-name {
    grid-column: 2 / span 5;
    grid-row: 3 / span 1;

    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
}

.un-goal {
    grid-column: 2/ span 4;
    grid-row: 5 / span 2;

    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;

    display: flex;
    align-items: center;
    background-color: #19486A;
    color: white;
    padding: 0 2rem;

    p {
        margin: 2rem;
    }
}

.head-image-container {
    grid-column: 11/ span 3;
    grid-row: 3/ span 7;

    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;

    background-image: url(../img/verdensmaal-globus.png);
    background-size: cover;
        height: 90%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
}

@media (max-width: 1300px) {
    .un-goal {
        flex-direction: column;
    }
}