.header--sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.head-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 12rem);
    margin-bottom: -24rem;
}

.company-name {
    grid-column:4/9;
   grid-row: 2/3;
   
}

.un-goal {
    grid-column: 3/7;
    grid-row: 4/7;
    display: flex;
    align-items: center;
    background-color: #19486A;
    color: white;
    padding: 0 2rem;

    p {
        margin: 2rem;
    }
}

.head-image-container {
    grid-column: 10/13;
    grid-row: 1/8;
    background-image: url(../img/half-circle.svg);
    background-size: cover;
        height: 100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
}

@media (max-width: 1300px) {
    .un-goal {
        flex-direction: column;
    }
}