.navigation {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    white-space: nowrap;
    transition: height .2s;
    &--left {
        display: flex;
        align-items: center;
    }
    &--right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1.5rem;
    }
    &__logo {
        display: block;
        &--img {
            padding: 2rem 2rem 0 2rem;
            transition: all .2s;
            height: 6rem;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    &__link {
        display: inline-block;
        padding: 1rem 1.5rem;
        margin: 0 1rem;
        text-decoration: none;
        color: $color-black;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid $color-logo-orange;
        }
        &--current {
            color: $color-logo-green;
            border-bottom: 2px solid $color-logo-green;
        }
        &--social {
            display: inline-block;
            padding: .5rem 1.1rem;
            margin: 0 1rem;
            text-decoration: none;
            color: $color-white;
            border: 1px solid $color-white;
            z-index: 1;
        }
    }
    &__find-us {
        transform: rotate(90deg);
        top: 2rem;
        position: relative;
        color: $color-white;
        transition: all .5s;
    }
    &__burger {
        &--checkbox {
            display: none;
        }
        &--button {
            display: none;
        }
    }
}

.navigation--min {
    background-color: $color-white;
    transition: background-color .5s;
    transition-delay: .5s;
    z-index: 1;

    .navigation__logo {
        margin-top: 1rem;
    }
    .navigation__logo--img {
        height: 5rem;
        z-index: 999;
        padding: 1rem 2rem 0;
    }
    .navigation__find-us {
        color: $color-black;
        transform: rotate(0);
        writing-mode: horizontal-tb;
        top: 0;
        padding-right: 1rem;
    }
    .navigation__link--social {
        color: $color-black;
        border: 1px solid $color-black; // padding: .2rem .8rem;
    }
    .navigation--right {
        justify-content: flex-start;
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width:950px) {
    .navigation {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "logo menu" "link link" "social social";
        width: 100%;
        height: 63px;
        &--left {
            visibility: hidden;
            opacity: 0;
            grid-area: link;
            width: 100%;
        }
        &--right {
            visibility: hidden;
            opacity: 0;
            grid-area: social;
        }
        &__burger {
            &--button {
                display: inline-block;
                width: 5rem;
                padding: 1.7rem;
                height: 6.3rem;
                justify-self: end;
                align-self: center;
            }
        }
        &__burger--checkbox:checked~&--left,
        &__burger--checkbox:checked~&--right {
            position: relative;
            bottom: 4rem;
            visibility: visible;
            background-color: $color-white;
            opacity: 1;
        }
        &__burger--checkbox:checked~&--left {
            .navigation__list {
                flex-direction: column;
                width: 100%;
            }
            .navigation__link {
                margin-top: 1rem;
            }
        }
        &__burger--checkbox:checked~&--right {
            width: 100%;
            justify-content: center;
            flex-direction: column-reverse;
            padding-bottom: 2rem;
        }
        .navigation__find-us {
            transform: rotate(0) !important;
            color: black;
            font-size: 2rem;
            top: 0;
            text-align: center;
            margin-top: 2rem;
        }
        .navigation__link--social {
            color: $color-black;
            border: 1px solid $color-black;
            margin-top: 2rem;
        }
    }
}