.navigation {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 10fr 2fr;
    &--left {
        display: flex;
        align-items: center;
        padding-left: 1rem;
    }
    &--right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 5rem;
    }
    &__logo {
        &--img {
            margin-right: 20px;
            height: 6rem;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    &__link {
        display: block;
        padding: 1rem 1.5rem;
        margin: 0 1rem;
        text-decoration: none;
        color: $color-black;
        &:hover {
            border-radius: 5px;
            border-bottom: 1px solid $color-logo-orange;
            padding: .1rem 1.5rem;
        }
        &--current {
            border-radius: 5px;
            color: $color-logo-blue;
            border-bottom: 1px solid $color-logo-blue;
            padding: .9rem 1.5rem;
        }
        &--social {
            display: inline-block;
            padding: .5rem 1rem;
            margin: 0 10px;
            text-decoration: none;
            color: $color-white;
            border: 1px solid $color-white;
        }
    }
    &__find-us {
        writing-mode: vertical-rl;
        top: 2rem;
        position: relative;
        color: $color-white;
        transition: all .5s;
    }
    
}

.inner {
    position: sticky;
    top: 0;
}

.navigation--min {
    background-color: $color-white;

    .navigation__find-us {
        color: $color-black;
        writing-mode: horizontal-tb;
        top: 0;

    }
    .navigation__link--social {
        color: $color-black;
        border: 1px solid $color-black;
    }
}