.navigation {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    white-space: nowrap;
    transition: height .2s;
    &--left {
        display: flex;
        align-items: center;
    }
    &--right {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 2rem 0 0;
    }
    &__logo {
        display: block;
        &--img {
            padding: 2rem 2rem 0 2rem;
            transition: all .2s;
            height: 6rem;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }
    &__link {
        display: inline-block;
        padding: 1rem 1.5rem;
        margin: 0 1rem;
        margin-top: .6rem;
        text-decoration: none;
        color: $color-black;
        
        transition: all .3s;

        &::after {
            content: "";
            display: block;
            height: .2rem;
            width: 0;
            background-color: $color-logo-green;
            margin-top: .4rem;

            transition: all .3s;
        }

        &:hover {
            color: $color-logo-green;

            &::after {
                width: 100%;
            }
        }

        &--current {
            color: $color-logo-green;

            &::after {
                width: 100%;
            }
        }

        &--social {
            display: inline-block;
            // padding: .5rem 1.1rem;
            // margin: 0 1rem;
            text-decoration: none;
            // color: $color-white;
            z-index: 1;
            width: 2.5rem;
            // margin: 1rem;
            // width: 3rem;
            svg{
                padding: .3rem;
                border: 1px solid $color-white;
            }
            path{
                fill: $color-white;
            }
        }
    }
    &__find-us {
        // transform: rotate(90deg);
        // top: 2rem;
        writing-mode: vertical-lr;
        position: relative;
        color: $color-white;
        transition: all .5s;
        margin-bottom: 0;
    }
    &__burger {
        &--checkbox {
            display: none;
        }
        &--button {
            display: none;
        }
    }
}

.navigation--min {
    background-color: $color-white;
    transition: background-color .5s;
    transition-delay: .2s;
    z-index: 1;
    .navigation__logo {
        margin-top: 1rem;
    }
    .navigation__logo--img {
        height: 5rem;
        z-index: 999;
        padding: 1rem 2rem 0;
    }
    .navigation__find-us {
        color: $color-black;
        // transform: rotate(0);
        writing-mode: horizontal-tb;
        top: 0;
        padding-right: 1rem;
    }
    .navigation__link--social {
        // color: $color-black;
        // border: 1px solid $color-black; // padding: .2rem .8rem;
        svg{
            padding: .3rem;
            border: 1px solid #333;
        }
        path{
            fill: #333;
        }
    }
    .navigation--right {
        justify-content: flex-start;
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width:950px) {
    .navigation {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "logo menu" "link link" "social social";
        width: 100%;
        height: 63px;
        &__logo--img {
            height: 63px;
        }
        &__list {
            flex-direction: column;
            margin: auto;
        }
        &--left,
        &--right {
            visibility: hidden;
            opacity: 0;
            width: 0;
            transition: all .5s ease-in-out;
        }
        &--left {
            grid-area: link;
            position: relative;
            bottom: 4rem;
        }
        &--right {
            grid-area: social;
            position: relative;
            bottom: 4rem;
            justify-content: center;
            flex-direction: column-reverse !important;
            padding-bottom: 2rem;
        }
        &__burger {
            &--button {
                display: inline-block;
                width: 5rem;
                padding: 1.7rem;
                height: 6.3rem;
                justify-self: end;
                align-self: center;
            }
        }
        &__burger--checkbox:checked~&--left,
        &__burger--checkbox:checked~&--right {
            visibility: visible;
            background-color: $color-white;
            opacity: 1;
            width: 100%;
        }
        &__burger--checkbox:checked~&--left {
            width: 100%;
        }
        .navigation__link {
            margin-top: 1rem;
        }
    }
    &__burger--checkbox:checked~&--right {
        width: 100%;
    }
    .navigation__find-us {
        transform: rotate(0) !important;
        color: black;
        font-size: 2rem;
        top: 0;
        text-align: center;
        margin-top: 2rem;
    }
    .navigation__link--social {
        color: $color-black;
        border: 1px solid $color-black;
        margin-top: 2rem;
    }
}
