.section__news {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    // grid-column-gap:  1rem;
    grid-gap: 2rem;
    

    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5rem 30rem auto;
    position: relative;

    &:before{
        content: '';
        grid-column-start:12;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
      
        background-color: $color-logo-orange;
        
        
    }


  .button:link, .button:visited {
        
        justify-self: center;
        align-self: center;
        margin-right: 13rem;
        margin-bottom: 2rem;
        
        
        grid-row: 3;
        grid-column: 10 / span 3;
        
    }

    


    &--image {
        
        // height: 95%;
        // width: 100%;
        // object-fit: cover;
        // overflow: hidden;
        cursor: pointer;
        
        
        
    }


    &--all{
        
    }


    &--top {
        position: absolute;
        
        color: $color-white;
        
        cursor: pointer;
        // max-width: 80%;
        // max-height: 90%;
    }

    &__header {
        font-size: $font-size-large;
        justify-self: center;
        align-self: center;
        
        
        
        
        grid-column: 3 / span 2;
        grid-row: 1;
        color: $color-white;

    }

    &--1 {
        display: flex;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 5; 
        grid-row: 2;
        
       

    }

    &--2{
        display: flex;
        position: relative;
        grid-column-start: 5;
        grid-column-end: 9; 
        grid-row: 2;
        
           
    }

    &--3{
        display: flex;
        position: relative;
        grid-column-start: 9;
        grid-column-end: 13; 
        grid-row: 2;
        
            
    }
    
    img{
        width:100%;
        
        object-fit: cover;
    }
    
    @media (max-width: 1650px) {
        
        .button:link, .button:visited {
            
            grid-row: 3;
            grid-column: 9 / span 4;
            
        }
    }
    
    @media (max-width: 1200px) {

        .button:link, .button:visited {
        
            grid-row: 3;
            grid-column: 7 / span 5;
            
        }
    }
    
    @media (max-width: 1250px) {
        grid-template-columns: repeat(12, 1fr);
        
        position: relative;
        
        
        
        


        
        

        &:before{
            content: '';
            grid-column-start:12;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
          
            background-color: $color-logo-orange;
            
            
        }


        &__header {
        
            justify-self: center;
            align-self: center;
            
            
            
            
            grid-column: 2 / span 2;
            grid-row: 1;
            color: $color-white;
    
        }



        &--1 {
        
            position: relative;
            grid-column-start: 1;
            grid-column-end: 5; 
            grid-row: 2;
            
           
    
        }
    
        &--2{
            
            position: relative;
            grid-column-start: 5;
            grid-column-end: 9; 
            grid-row: 2;
            
               
        }
    
        &--3{
            
            position: relative;
            grid-column-start: 9;
            grid-column-end: 13; 
            grid-row: 2;
            
                
        }

        .button:link, .button:visited {
        
            justify-self: center;
            align-self: center;
           
        
            font-size: $font-size-default;
            grid-row: 3;
            grid-column: 7 / span 11;
            
        }

    }



    @media (max-width: 800px) {
        grid-gap: 0rem;
        grid-template-columns: 1fr;
        grid-template-rows: 8rem 30rem 30rem 30rem 8rem;
        position: relative;
        width: 100%;
        

        
        
        
        
        &:before{
            grid-column: 1 / 2;
            
            grid-row-start: 1;
            grid-row-end: 6;
            
            margin-left: 0;
            
            
            
            
        }

        &--all{
            justify-self: center;
            
        }

        &--image {
            
            height: 95%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            cursor: pointer;
            margin-right: 0;
            
            
        }
    

        &--1 {
            border-top: 1px solid rgb(0, 0, 0);
            position: relative;
            grid-column: 1;
            grid-row: 2;
            
            left: 0;
            margin:0;
        }
    
        &--2{
            border-top: 1px solid rgb(0, 0, 0);
            position: relative;
            grid-column: 1;
            grid-row: 3;

            left: 0;
            margin: 0;
        }
    
        &--3{
            border-top: 1px solid rgb(0, 0, 0);
            border-bottom: 1px solid rgb(0, 0, 0);
            position: relative;
            grid-column: 1;
            grid-row: 4;
            
            left: 0;
            margin:0;
                 
        }


        &__header {
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
            align-self: center;
            
            
            
            
        }


        .button:link, .button:visited {
        
            
            align-self: center;
            grid-row: 5;
            grid-column: 1;
            margin: 0;
            
                      
        }

        
    }



  
}