.section__news {
    width: $content-wide;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-gap: 2rem;
        
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 30rem auto;

    &:before{
        content: '';
        grid-column-start:12;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: span 3;
      
        background-color: $color-logo-orange;
    }

    .button:link, .button:visited {
        justify-self: center;
        align-self: baseline;
        margin-right: 13rem;
        margin-bottom: 2rem;
        
        grid-row: 3;
        grid-column: 10 / span 3;
    }

    &--image {
        cursor: pointer;
    }

    &--top {
        position: absolute;
        color: $color-white;
        cursor: pointer;
    }

    &__header {
        margin-left: 4rem;
        grid-column: 3 / span 2;
        grid-row: 1;
        color: $color-white;
    }

    &__rss {
        margin-left: 4rem;
        grid-row: 3;
        grid-column: 3/ span 7;
        align-self: baseline;
        color: $color-white;
    }

    &--1 {
        display: flex;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 5; 
        grid-row: 2;
    }

    &--2{
        display: flex;
        position: relative;
        grid-column-start: 5;
        grid-column-end: 9; 
        grid-row: 2;
    }

    &--3{
        display: flex;
        position: relative;
        grid-column-start: 9;
        grid-column-end: 13; 
        grid-row: 2;
    }
    
    @media (max-width: 1650px) {
        width: 95vw;
        
        .button:link, .button:visited {
            
            grid-row: 3;
            grid-column: 9 / span 4;
            margin-right: 6rem;
            margin-bottom: 2rem;
            justify-self: center;
            align-self: normal;
        }
    }
    
    // @media (max-width: 1200px) {

    //     .button:link, .button:visited {
        
    //         grid-row: 3;
    //         grid-column: 7 / span 5;
            
    //     }
    // }
    
    // @media (max-width: 1250px) {
    //     grid-template-columns: repeat(12, 1fr);
        
    //     position: relative;
        
    //     &:before{
    //         content: '';
    //         grid-column-start:12;
    //         grid-column-end: 2;
    //         grid-row-start: 1;
    //         grid-row-end: 4;
          
    //         background-color: $color-logo-orange;
            
            
    //     }


    //     &__header {
        
    //         justify-self: center;
    //         align-self: center;
            
            
            
            
    //         grid-column: 2 / span 2;
    //         grid-row: 1;
    //         color: $color-white;
    
    //     }



    //     &--1 {
        
    //         position: relative;
    //         grid-column-start: 1;
    //         grid-column-end: 5; 
    //         grid-row: 2;
            
           
    
    //     }
    
    //     &--2{
            
    //         position: relative;
    //         grid-column-start: 5;
    //         grid-column-end: 9; 
    //         grid-row: 2;
            
               
    //     }
    
    //     &--3{
            
    //         position: relative;
    //         grid-column-start: 9;
    //         grid-column-end: 13; 
    //         grid-row: 2;
            
                
    //     }

    //     .button:link, .button:visited {
        
    //         justify-self: center;
    //         align-self: center;
           
        
    //         font-size: $font-size-default;
    //         grid-row: 3;
    //         grid-column: 7 / span 11;
            
    //     }

    // }

    @media (max-width: 1100px) {
        width: 90vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 8rem 30rem 30rem 8rem;
        position: relative;
        
        &:before{
            grid-column: 1 / 3;            
            grid-row-start: 1;
            grid-row-end: span 5;
            margin-left: 5rem;
            margin-right: 5rem;
        }

        &--all{
            justify-self: center;
            
        }

        &--image {
            height: 95%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            cursor: pointer;
            margin-right: 0;
        }

        &__rss {
            margin-left: 0;
            padding-bottom: 2rem;
            grid-row: 5;
            grid-column: 1/ span 2;
            justify-self: center;
        }

        &--1 {
            
            position: relative;
            grid-column: 1 / span 2;
            grid-row: 2;
            
            left: 0;
            margin:0;
        }
    
        &--2{
            
            position: relative;
            grid-column: 1;
            grid-row: 3;

            left: 0;
            margin: 0;
        }
    
        &--3{
            
            position: relative;
            grid-column: 2;
            grid-row: 3;
            
            left: 0;
            margin:0;
                 
        }

        &__header {
            grid-column: 1 / span 2;
            grid-row: 1;
            justify-self: center;
            align-self: center;
            margin-left: 0;
            
            
            
        }


        .button:link, .button:visited {
            align-self: center;
            grid-column: 1 / span 2;
            grid-row: 4;
            margin: 0;
            
                      
        }
    }

    @media (max-width: 700px) {
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 8rem 30rem 30rem 30rem 8rem;
        position: relative;
        width: 100%;
        
        &:before{
            grid-column: 1 / 2;
            
            grid-row-start: 1;
            grid-row-end: span 5;
            
            margin-left: 0;
            margin-right: 0;
        }

        &--all{
            justify-self: center;
        }

        &--image {
            height: 95%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            cursor: pointer;
            margin-right: 0;
        }
    
        &--1 {
            border-top: 1px solid rgba(0, 0, 0, 0.50);
            border-bottom: 1px solid rgba(0, 0, 0, 0.50);
            position: relative;
            grid-column: 1;
            grid-row: 2;
            
            left: 0;
            margin:0;
        }
    
        &--2{
            border-top: 1px solid rgba(0, 0, 0, 0.50);
            border-bottom: 1px solid rgba(0, 0, 0, 0.50);
            position: relative;
            grid-column: 1;
            grid-row: 3;

            left: 0;
            margin: 0;
        }
    
        &--3{
            border-top: 1px solid rgba(0, 0, 0, 0.50);
            border-bottom: 1px solid rgba(0, 0, 0, 0.50);
            position: relative;
            grid-column: 1;
            grid-row: 4;
            
            left: 0;
            margin:0;
        }

        &__header {
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
            align-self: center;
        }

        .button:link, .button:visited {
            align-self: center;
            grid-row: 5;
            grid-column: 1;
            margin: 0;
        }
    }
}