.section__news {
    display: grid;
    width: 90%;
    

    margin-right: 0rem;
    grid-template-columns: repeat(20, 10%);
    grid-template-rows: 5rem auto 5rem;
    position: relative;
    &:before{
        content: '';
        grid-column-start:11;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 8;
        
        margin: -1rem;
        background-color: $color-logo-orange;
        margin-left: 10rem;
        
        
    }


  .button:link, .button:visited {
        
       
        grid-row: 3;
        grid-column: 10;
    }

    


    &--image {
        
        height: 95%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        cursor: pointer;
        margin-right: 50rem;
        
    }

    &--top {
        position: absolute;
        top: 0rem;
        left:4.6rem;
        color: $color-white;
        letter-spacing: .1rem;
        cursor: pointer;
        max-width: 80%;
        max-height: 90%;
    }

    &__header {
        position: absolute;
        top: -0rem;
        left:15rem;
        grid-column-start: 3;
        grid-row: 1;
        letter-spacing: .1rem;
        color: $color-white;

    }

    &--1 {
        display: flex;
        position: relative;
        grid-column-start: 2;
        grid-column-end: 5; 
        grid-row: 2;
        left: 4.8rem;
        margin: 0rem 1rem 0rem 1rem;

    }

    &--2{
        display: flex;
        position: relative;
        grid-column-start: 5;
        grid-column-end: 8; 
        grid-row: 2;
        left: 4.8rem;
        margin: 0rem 1rem 0rem 1rem;    
    }

    &--3{
        display: flex;
        position: relative;
        grid-column-start: 8;
        grid-column-end: 11; 
        grid-row: 2;
        left: 4.8rem;
        margin: 0rem 1rem 0rem 1rem;     
    }


    @media (max-width: 600px) {
        
        grid-template-columns: 1fr;
        grid-template-rows: 8rem 1fr 1fr 1fr 8rem ;
        position: relative;

        
        
        
        
        &:before{
            grid-column: 1;
            
            grid-row-start: 1;
            grid-row-end: 6;
            
            margin-left: 0;
            
            
            
            
        }

        &--1 {
        
            position: relative;
            grid-column: 1;
            grid-row: 2;
            left: 4.8rem;
            margin: 0rem 1rem 0rem 1rem;
    
        }
    
        &--2{
            
            position: relative;
            grid-column: 1;
            
            grid-row: 3;
            left: 4.8rem;
            margin: 0rem 1rem 0rem 1rem;    
        }
    
        &--3{
            
            position: relative;
            grid-column: 1;
            
            grid-row: 4;
            left: 4.8rem;
            margin: 0rem 1rem 0rem 1rem;     
        }


        &__header {
            position: absolute;
            top: none;
            left:none;
            grid-column-start: 1;
            grid-row: 1;
            
            letter-spacing: .1rem;
            color: $color-white;
    
        }


        .button:link, .button:visited {
        
       
            grid-row: 5;
            grid-column: 1;
            align-self: center;
        }
    }

  
}