.temaer {
    display: grid;
    width: $content-wide;
    grid-template-columns: minmax(35rem, 45rem) minmax(80rem, 1fr);
    grid-template-rows: 6rem 1fr;
    margin: 0 auto;
    color: $color-white;

    &__left {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;

        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;

        padding: 0 4rem 4rem 4rem;
    }

    &__right {
        grid-column: 2 / span 1;
        grid-row: 2/ span 1;

        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 24rem);
        grid-gap: 2rem;
        height: 75rem;
    }

    &::before {
        content: "";
        background-color: $color-logo-blue;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;

        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;

        width: 95%;
        height: 90%;
    }

    &__title {
        // font-size: $font-size-large;
        margin-bottom: 4rem;
        margin-top: 0;
    }

    &__paragraph {
        margin-bottom: 5rem;
        font-size: $font-size-default
    }

    &__box {
        background-color: orangered;
        display: flex;

        &:nth-child(1) {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;

            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;

            .image-box__title {
                transform: translateY(22rem);
                transition: all .8s;
            }

            .image-box__content {
                transform: translateY(40rem);
                transition: all .8s;
            }

            .image-box__overlay {
                &:hover h3 {
                    transform: translateY(8rem);
                }

                &:hover .image-box__content {
                    transform: translateY(10rem);
                }
               
            }
        }

        &:nth-child(2) {
            grid-column: 2 / span 2;
            grid-row: 1 / span 1;

            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
        }

        &:nth-child(3) {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;

            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
        }

        &:nth-child(4) {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;

            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
        }

        &:nth-child(5) {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;

            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
        }

        &:nth-child(6) {
            grid-column: 2 / span 2;
            grid-row: 3 / span 1;

            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
        }
    }
}

@media (max-width: 1300px) {
    .temaer {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        &::before {
            grid-row: 1 / span 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;
        }

        &__left {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;

            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            
            padding: 3rem 7rem 4rem 3rem;
        }

        &__right {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;

            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;

        }
    }
}

@media (max-width: 900px) {
    .temaer {
        width: 90vw;

        &::before {
            width: 100%;
            height: 100%;
        }

        &__left {
            padding: 4rem;
        }

        &__right {
            grid-template-columns: repeat(2, 1fr);
        }

        &__title {
            text-align: center;
        }

        &__box {
            &:nth-child(1) {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
                
                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;

                .image-box__title {
                    transform: translateY(8rem);
                    transition: all .5s;
                }
    
                .image-box__content {
                    transform: translateY(10rem);
                    transition: all .5s;
                }
    
                .image-box__overlay {
                    &:hover h3 {
                        transform: translateY(2rem);
                    }
    
                    &:hover .image-box__content {
                        transform: translateY(2rem);
                    }
                }
            }
    
            &:nth-child(2) {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;

                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(3) {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(4) {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;

                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(5) {
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(6) {
                grid-column: 2 / span 1;
                grid-row: 3 / span 1;

                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
            }
        }
    }
}

@media (max-width: 600px) {
    .temaer {
        &__left {
            padding: 3rem;
        }

        &__right {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 24rem);
            height: 135rem;
        }

        &__box {
            &:nth-child(1) {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(2) {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 2;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(3) {
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(4) {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 4;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(5) {
                grid-column: 1 / span 1;
                grid-row: 5 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 5;
                -ms-grid-row-span: 1;
            }
    
            &:nth-child(6) {
                grid-column: 1 / span 1;
                grid-row: 6 / span 1;

                -ms-grid-column: 1;
                -ms-grid-column-span: 1;
                -ms-grid-row: 6;
                -ms-grid-row-span: 1;
            }
        }
    }
}

@media (max-width: 400px) {
    .temaer {
        width: 100vw;

        &__button:link, &__button:visited {
            padding: 0.5rem 0;
            width: 100%;
            text-align: center;
        }
    }
}