.temaer {
    display: grid;
    width: 80vw;
    grid-template-columns: minmax(35rem, 50rem) minmax(80rem, 1fr);
    grid-template-rows: 6rem 1fr;
    margin: 0 auto;
    color: $color-white;

    &__left {
        grid-column-start: 1;
        grid-row: 2/3;
        padding: 0 4rem 4rem 6rem;
    }

    &__right {
        grid-column-start: 2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 24rem);
        grid-gap: 2rem;
        height: 75rem;
    }

    &::before {
        content: "";
        background-color: $color-logo-blue;
        grid-column: 1/3;
        grid-row: 1/3;
        width: 95%;
        height: 90%;
    }

    &__title {
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    &__paragraph {
        margin-bottom: 5rem;
        font-size: 1.5rem
    }

    &__box {
        background-color: orangered;
        display: flex;

        &:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/3;
        }

        &:nth-child(2) {
            grid-column: 2/4;
            grid-row: 1/2;
        }

        &:nth-child(3) {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        &:nth-child(4) {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        &:nth-child(5) {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        &:nth-child(6) {
            grid-column: 2/4;
            grid-row: 3/4;
        }
    }
}

@media (max-width: 1300px) {
    .temaer {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        &::before {
            grid-row: 1/3;
        }

        &__left {
            grid-column: 1/2;
            grid-row: 1/2;
            padding: 3rem 7rem 4rem 3rem;
        }

        &__right {
            grid-column-start: 1;
            grid-row: 2/3;
        }
    }
}

@media (max-width: 900px) {
    .temaer {
        &::before {
            width: 100%;
            height: 100%;
        }

        &__left {
            padding: 4rem;
        }

        &__right {
            grid-template-columns: repeat(2, 1fr);
        }

        &__title {
            text-align: center;
        }

        &__box {
            &:nth-child(1) {
                grid-column: 1/2;
                grid-row: 1/2;
            }
    
            &:nth-child(2) {
                grid-column: 2/3;
                grid-row: 1/2;
            }
    
            &:nth-child(3) {
                grid-column: 1/2;
                grid-row: 2/3;
            }
    
            &:nth-child(4) {
                grid-column: 2/3;
                grid-row: 2/3;
            }
    
            &:nth-child(5) {
                grid-column: 1/2;
                grid-row: 3/4;
            }
    
            &:nth-child(6) {
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
    }
}

@media (max-width: 600px) {
    .temaer {
        width: 90vw;

        &__left {
            padding: 3rem;
        }

        &__right {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 24rem);
            height: 135rem;
        }

        &__box {
            &:nth-child(1) {
                grid-column: 1/2;
                grid-row: 1/2;
            }
    
            &:nth-child(2) {
                grid-column: 1/2;
                grid-row: 2/3;
            }
    
            &:nth-child(3) {
                grid-column: 1/2;
                grid-row: 3/4;
            }
    
            &:nth-child(4) {
                grid-column: 1/2;
                grid-row: 4/5;
            }
    
            &:nth-child(5) {
                grid-column: 1/2;
                grid-row: 5/6;
            }
    
            &:nth-child(6) {
                grid-column: 1/2;
                grid-row: 6/7;
            }
        }
    }
}

@media (max-width: 400px) {
    .temaer {
        &__button:link, &__button:visited {
            padding: 0.5rem 0;
            width: 100%;
            text-align: center;
        }
    }
}