.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &--extended {
        padding-top: 6.3rem;

        &::after{
            height: 10vh;
        }
    }
    .section__news, .temaer {
        margin-top: 20rem;
        margin-bottom: 20rem;
    }
    .services-section {
        margin-bottom: 10rem;
    }
}
.site-wrapper--green-box {
    &::after {
        content: "";
        z-index: -1;
        width: 25vw;
        height: 50vh;
        background-color: $color-logo-green;
        position: absolute;
        top: 0;
        right: 0;
        transition: height 1s;
    }
}

@media only screen and (max-width: 1200px) {
    .site-wrapper--green-box {
        &::after {
            // background: goldenrod;
            width: 15vw;
        }
    }
}

@media only screen and (max-width: 700px) {
    .site-wrapper--green-box{
        &::after {
            min-width: 100px;
            width: 30vw;
            height: 200px;
        }
    }
}