.site-wrapper {
    &::after {
        content: "";
        z-index: -1;
        width: 25vw;
        height: 50vh;
        background-color: $color-logo-green;
        position: absolute;
        top: 0;
        right: 0;
        transition: height 1s;
    }
    &--extended {
        padding-top: 6.3rem;

        &::after{
            height: 10vh;
        }
    }
}

section {
    margin: 20rem 0;
}