.opgaver {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

  &__item{
    display: flex;
    height: 400px;
    min-width: 230px;
    flex-basis: 30%;
    flex-grow: 1;
    margin: 1rem;
  }
}