.page-template {
    .post-full-content {
        padding: 0 4rem;
        max-width: 130rem;
        margin: 0 auto;
        background-color: $color-white;
    }
    
    .post-content > *:not(.kg-gallery-card):not(.kg-image-card), .post-full-title, .post-full-meta {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .post-full-header {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
    
    .post-full-image {
        margin-bottom: 4rem;
    
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    
    .post-full-title {
        margin-bottom: 2rem;
        padding-top: 2rem;
        font-weight: 600;
    }
    
    .post-full-meta {
        margin-bottom: 5rem;
    }
    
    .kg-image-card {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .kg-card figcaption {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .kg-gallery-row {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .kg-gallery-image {
        width: 100%;
        height: 100%;
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }

    hr {
        margin: 5rem 0;
        border: none;
        border-top: 1px solid rgba($color-black, .2);
    }
}