.post-template {
    .post-full-content {
        padding: 0 2rem;
        max-width: 130rem;
        margin: 0 auto;
        background-color: $color-white;
    }
    
    .post-content > *:not(.kg-gallery-card):not(.kg-image-card), .post-full-title, .post-full-meta {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .post-full-header {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .post-full-image {
        margin-bottom: 4rem;
    
        img {
            width: 100%;
            max-height: 55vh;
            object-fit: cover;
        }
    }
    
    .post-full-title {
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    
    .post-full-meta {
        margin-bottom: 5rem;
    }
    
    .kg-image-card:not(.kg-width-wide):not(.kg-width-full) {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .kg-image-card .kg-width-full {
        max-width: 100vw;
    }
    
    .kg-image {
        width: 100%;
    }
    
    .kg-card figcaption {
        text-align: center;
    }
    
    .kg-gallery-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .kg-gallery-image {
        margin: 1rem;
        min-width: 25rem;
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }

    .kg-embed-card {
        text-align: center;
        figcaption {
            margin-bottom: 2rem;
        }
    }

    blockquote>p:last-child{
        margin-bottom: 0;
    }
}
